<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sambat Dark - About</title>
    <link rel="stylesheet" href="/static/css/plugin.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>

    <!-- Start Preload -->
    <div class="preloader">
    </div>
    <div class="block-1"></div>
    <div class="block-2"></div>
    <div class="logo-load">
        <img src="/static/img/logo.svg" alt="">
    </div>
    <div class="logo-load spinning"></div>
    <div class="over-all"></div>
    <!-- End Preload -->

    <!-- Start Header -->
    <%- include("header")  -%>
        <!-- End Header -->


        <!-- Start Content -->
        <div id="spiral">

            <!-- Header -->
            <div class="scrolls">
                <img draggable="false" src="/static/img/sroll.svg" alt="scroll">
            </div>
            <div class="main-head">
                <div id="headmove">
                    <div data-depth="0.2">
                        <div class="bg-about"></div>
                    </div>
                    <div data-depth="0.3">
                        <div class="bg-about-2"></div>
                    </div>
                </div>
                <div class="heading-text">
                    <div class="heading-text-front">
                        <h1 class="title">A B O U T.</h1>
                    </div>
                    <div class="heading-text-back">
                        <h1 class="title">A B O U T.</h1>
                    </div>
                </div>
            </div>

            <!-- About -->
            <section class="about-page">
                <div class="container">
                    <div class="row centered">

                        <div class="col-lg-6">
                            <div class="about-text">
                                <h3> We function as a scalable and fully operative team</h3>
                                <p>We create digital experiences, social media content, interactive concept, commercials, and branding /static for direct client or together with Agencies.
                                </p>
                                <p>We believe in an amazing future for all enabled by technology. We strive to help take steps toward that vision by creating sustainable, automated and beautiful experiences.
                                </p>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid" src="/static/img/about.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>


            <!-- Start Service -->
            <section class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-title text-center">

                                <h2>Our Areas of <span>Services</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-30">
                        <div class="col-lg-4 mt-30">
                            <div class="service-item">

                                <div class="service-text">
                                    <h3>GRAPHIC DESIGN</h3>
                                    <p>Put your eyes on your customers while keeping a graphic and aesthetic coherence. </p>
                                    <div class="service-line"></div>
                                    <ul class="service-list">
                                        <li>Logo Design</li>
                                        <li>UI/UX</li>
                                        <li>Illustration</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-30">
                            <div class="service-item">

                                <div class="service-text">
                                    <h3>DEVELOPMENT</h3>
                                    <p>Put your eyes on your customers while keeping a graphic and aesthetic coherence. </p>
                                    <div class="service-line"></div>
                                    <ul class="service-list">
                                        <li>Website</li>
                                        <li>Mobile App</li>
                                        <li>Desktop App</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-30">
                            <div class="service-item">

                                <div class="service-text">
                                    <h3>BRANDING</h3>
                                    <p>Put your eyes on your customers while keeping a graphic and aesthetic coherence. </p>
                                    <div class="service-line"></div>
                                    <ul class="service-list">
                                        <li>Logo Design</li>
                                        <li>UI/UX</li>
                                        <li>Illustration</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <!-- End Service -->

            <section class="partner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-title text-center">

                                <h2>Our <span>Partner</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-50">
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-3.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-4.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-5.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-6.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 px-0">
                            <div class="partner-list">
                                <img class="img-fluid" src="/static/img/partner/client-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <%- include("footer")  -%>

        </div>
        <!-- End Content -->

        <!-- Toggle menu -->
        <%- include("menu") -%>


            <!-- Cursor -->
            <div class="cursor1" id="cursor1"></div>
            <div class="cursor" id="cursor"></div>

            <script src="/static/js/plugin.js"></script>
            <script src="/static/js/main.js"></script>
</body>

</html>