<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sambat Dark - Blog</title>
    <link rel="stylesheet" href=" /static/css/plugin.css">
    <link rel="stylesheet" href=" /static/css/main.css">
    <link rel="stylesheet" href=" /static/css/responsive.css">
</head>

<body>

    <!-- Start Preload -->
    <div class="preloader">
    </div>
    <div class="block-1"></div>
    <div class="block-2"></div>
    <div class="logo-load">
        <img src=" /static/img/logo.svg" alt="">
    </div>
    <div class="logo-load spinning"></div>
    <div class="over-all"></div>
    <!-- End Preload -->


    <!-- Start Header -->
    <%- include("header") -%>
        <!-- End Header -->


        <!-- Start Content -->
        <div id="spiral">

            <!-- Header -->
            <div class="scrolls">
                <img draggable="false" src=" /static/img/sroll.svg" alt="scroll">
            </div>
            <div class="main-head centered luxy-el" data-speed-y="5" data-offset="0">
                <div id="headmove">

                </div>
                <div class="bg-detail-blog"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h3 class="detail-title">
                                Designing web interfaces in position absolute
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <section class="bg-darks">
                <div class="blog">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="article">
                                    <div class="author">
                                        <p>BY FABIANSKY T.</p>
                                    </div>
                                    <h3>Where we come from and the current situation ?</h3>
                                    <p>I started designing for the web in 2011 and working in 2013. One of my first jobs was at Microsoft as an intern in their design team located in Helsinki. At that time most of the resources for UI were made in Photoshop.
                                        Yes, Photoshop, a tool for editing photos was the same for designing web pages. Using this tool, I could export images that were passed to development and they would do all the magic to bringing it to life through
                                        code. But, they didn't coded it as I expected them to do. The design never fit exactly what I had designed and it frustrated me, a lot. I didn't understand it, so I decided to learn how to code frontend, to understand
                                        what the problem was and how it could get it solved.
                                    </p>

                                    <div class="quote">
                                        <p>"we barely mention how incredibly difficult it's to maintain two design systems"</p>
                                    </div>

                                    <h3>Why is this happening?</h3>
                                    <p>Many UI designers still keep the graphic design's mindset, as if designing for the web was the same as designing for offline but with different measures or rules. No, it's not like that. The medium of the product is
                                        totally different and our tools should change depending on it.</p>

                                    <p>That is why I believe that the tools we use to design websites should also not be the same we use to design native mobile apps. They don't work in the same way, they aren't developed using the same technologies, they
                                        don't have the same interactions and they shouldn't be designed in the same way. SwiftUI has taken the step of being able to design with the same code used in development, making it the most suitable tool for designing
                                        iOS apps.
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-5 offset-md-1 mt-30">
                                <div class="img-detail-blog">
                                    <img class="cover img-fluid medium-zoom-image cursorZoom" src=" /static/img/blog/1.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-5 mt-30">
                                <div class="img-detail-blog">
                                    <img class="cover img-fluid medium-zoom-image cursorZoom" src=" /static/img/blog/2.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-8 offset-md-2 mt-40">
                                <div class="article">
                                    <h3>Where we come from and the current situation ?</h3>
                                    <p>I started designing for the web in 2011 and working in 2013. One of my first jobs was at Microsoft as an intern in their design team located in Helsinki. At that time most of the resources for UI were made in Photoshop.
                                        Yes, Photoshop, a tool for editing photos was the same for designing web pages. Using this tool, I could export images that were passed to development and they would do all the magic to bringing it to life through
                                        code. But, they didn't coded it as I expected them to do. The design never fit exactly what I had designed and it frustrated me, a lot. I didn't understand it, so I decided to learn how to code frontend, to understand
                                        what the problem was and how it could get it solved.
                                    </p>
                                </div>
                            </div>

                        </div>



                        <div class="line"></div>
                    </div>
                </div>
            </section>


            <!-- Footer -->
            <%- include("footer") -%>

        </div>
        <!-- End Content -->

        <!-- Toggle menu -->
        <%- include("menu") -%>

            <!-- Cursor -->
            <div class="cursor1" id="cursor1"></div>
            <div class="cursor" id="cursor"></div>

            <script src=" /static/js/plugin.js"></script>
            <script src=" /static/js/main.js"></script>
</body>

</html>