<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mt-30">
                <div class="mail hover-target">
                    <a href="#">portfolioJoy.design</a>
                </div>
            </div>
            <div class="col-md-4 text-center mt-30">
                <div class="logo-foot">
                    <img src="/static/img/logo.svg" alt="" style="height:66px;">
                </div>
            </div>
            <div class="col-md-4 text-center text-md-right mt-30">
                <div class="sosmed">
                    <ul>
                        <li class="hover-target"><a href="#">Dribbble.</a></li>
                        <li class="hover-target"><a href="#">Twitter.</a></li>
                        <li class="hover-target"><a href="#">Instagram.</a></li>
                        <li class="hover-target"><a href="#">Behance.</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Joxic &copy;2019. All Rights Reserved</p>
                    <p>Made with ♥ by Arindam(Joy).</p>
                </div>
            </div>
        </div>
    </div>
</div>