<header>

    <nav>
        <!-- Logo -->
        <div class="logo hover-target">
            <a class="load-spiral" href="/"><img src="/static/img/logo.svg" alt="logo"></a>
        </div>
        <!-- Menu bar -->
        <div class="toggle-btn magnetic hover-target">
            <div class="burger-menu">
                <span class="one"></span>
                <span class="two"></span>
                <span class="tre"></span>
            </div>
        </div>
        <!-- Social -->
        <div class="scr socials">
            <div class="list-social">
                <ul>
                    <li class="hover-target"><a href="#">Db.</a></li>
                    <li class="hover-target"><a href="#">Tw.</a></li>
                    <li class="hover-target"><a href="#">Ig.</a></li>
                    <li class="hover-target"><a href="#">Bg.</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="scr copyright-top">
            <p>portfolio &copy; 2022</p>
        </div>

        <div class="bg-nav"></div>

        <!-- menu -->
        <div class="manu-container">
            <div class="menu">
                <div class="data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="links text-center text-lg-left">
                                    <ul>
                                        <li>
                                            <p>01</p><a class="menu-link hover-target load-spiral" href="/">Home</a>
                                        </li>
                                        <li>
                                            <p>02</p><a class="menu-link hover-target load-spiral" href="/work">Work</a>
                                        </li>
                                        <li>
                                            <p>03</p><a class="menu-link hover-target load-spiral" href="/about">About</a>
                                        </li>
                                        <li>
                                            <p>04</p><a class="menu-link hover-target load-spiral" href="/blog">Blog</a>
                                        </li>
                                        <li>
                                            <p>05</p><a class="menu-link hover-target load-spiral" href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-4 offset-md-2 centered text-right">
                                <div class="address-menu">

                                    <h3>PORTFOLIO OF JOY</h3>
                                    <h4>Flower 03/11 Jadavpur, Kolkata, India</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>


</header>