<body>
    <div class="preloader">
    </div>
    <div class="block-1"></div>
    <div class="block-2"></div>
    <div class="logo-load">
        <img src="/static/img/logo.svg" alt="">
    </div>
    <div class="logo-load spinning"></div>
    <div class="over-all"></div>
    <%- include("header") -%>
        <div id="spiral">
            <div class="scrolls">
                <img draggable="true" src="/static/img/sroll.svg" alt="scroll">
            </div>
            <div class="background1">
                <div class="container">
                    <div class="screen">
                        <div class="screen-header">
                            <div class="screen-header-left">
                                <div class="screen-header-button close1"></div>
                                <div class="screen-header-button maximize"></div>
                                <div class="screen-header-button minimize"></div>
                            </div>
                            <div class="screen-header-right">
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                            </div>
                        </div>
                        <div class="screen-body">
                            <div class="screen-body-item left">
                                <div class="app-title">
                                    <span>CONTACT</span>
                                    <span>US</span>
                                </div>
                                <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
                            </div>
                            <form action="/Contact" method="POST" class="screen-body-item">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="NAME" name="name" value="Krisantus Wanandi">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" name="name" placeholder="EMAIL">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" name="name" placeholder="CONTACT NO">
                                    </div>
                                    <div class="app-form-group message">
                                        <input class="app-form-control" name="name" placeholder="MESSAGE">
                                    </div>
                                    <div class="app-form-group buttons">
                                        <a class="app-form-button" href="/" style="text-decoration: none;">GO BACK</a>
                                        <button type="submit" class="app-form-button"> SEND</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="credits">
                        inspired by
                        <a class="credits-link" href="https://dribbble.com/shots/2666271-Contact" target="_blank">
                            <svg class="dribbble" viewBox="0 0 200 200">
              <g stroke="#ffffff" fill="none">
                <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
              </g>
            </svg> Gururaj
                        </a>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="cursor1" id="cursor1"></div>
        <div class="cursor" id="cursor"></div>

        <script src="/static/js/plugin.js"></script>
        <script src="/static/js/main.js"></script>
</body>

</html>