<div class="menus">
    <a class="hover-target" href="/">Home</a>
    <a class="hover-target" href="/index-2">Home Slider</a>
    <a class="hover-target" href="/index-3">Home Image</a>
    <a class="hover-target" href="/work">Work</a>
    <a class="hover-target" href="/about">About</a>
    <a class="hover-target" href="/work-detail">Work Detail</a>
    <a class="hover-target" href="/work-detail-2">Work Detail 2</a>
    <a class="hover-target" href="/blog">Blog</a>
    <a class="hover-target" href="/blog-detail">Blog Detail</a>
    <a class="hover-target" href="/contact">Contact</a>
    <a class="hover-target" href="/error">Error 404 </a>
</div>
<div class="menu__toggler hover-target magnetic"><span></span></div>