<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Successfully Send</title>
    <link rel="icon" type="image/x-svg" href="/static/img/logoh.svg">
    <link rel="stylesheet" href="/static/css/plugin.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>

    <!-- Start Preload -->
    <%- include("preloader") -%>
        <!-- End Preload -->
        <%- include("header") -%>
            <div id="spiral">
                <div class="main-head">
                    <div id="headmove">
                        <div data-depth="0.2">
                            <div class="bg-error"></div>
                        </div>
                    </div>
                    <div class="error-page text-center">
                        <h2>!!YAY!!</h2>
                        <p>Successfully Send.</p>
                        <a href="/" class="load-spiral hover-target">Back to home</a>
                    </div>
                </div>
                <%- include("footer") -%>
            </div>

            <!-- Toggle menu -->
            <%- include("menu") -%>

                <!-- Cursor -->
                <div class="cursor1" id="cursor1"></div>
                <div class="cursor" id="cursor"></div>

                <script src="/static/js/plugin.js"></script>
                <script src="/static/js/main.js"></script>
</body>

</html>